.nav {
    display: inline-block;
}

a{
    color: black;
}

.btn-primary {
    border-radius: 15px;
    width: 50%;
}

.alert-success{
    border-radius: 5px;
}

@media only screen and (max-width: 992px) {
    .responsive__edit {
        margin: 10px;
    }
}